	<!DOCTYPE html>

	<html>	

		<head>
			<title>My Exercise </title>
			<link rel="stylesheet" type="text/css" href="CSS/style.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script>

				$(document).ready(function(){
					$('#editDesc').click(function(){
						$('#descDialog').show()
					})
					$('#exitDescDialog').click(function(){
						$('#descDialog').hide()
					})

					$('#editDur').click(function(){
						$('#durDialog').show()
					})
					$('#exitDurDialog').click(function(){
						$('#durDialog').hide()
					})

					$('#editDate').click(function(){
						$('#dateDialog').show()
					})
					$('#exitDateDialog').click(function(){
						$('#dateDialog').hide()
					})

				})
			

			</script>
		</head>	

		<body class="column">

			<header>
				<h1> My Exercise </h1>
			</header>

			<main class="column">

				
					
							<ul class="column">
								<section class="row">
									<li> Description: &nbsp; <%= Exercise.Description %></li>
									
									<button id="editDesc">Edit</button>

									<dialog id="descDialog">
										<form class="column" action="/editExerciseDescription" method="post" >
											<section class="row">
												<label for="desc">Desciption:</label>
												<input type="text" id="description" name="description">
												<input type="hidden" name="id" value="<%= Exercise.id %>">
											</section>
											<section>
												<input type="submit">
											</section>

										</form>

										<section>
											<button id="exitDescDialog">Exit</button>
										</section>
									</dialog>


									
								</section>
								
								<section class="row">
								<li> Duration: &nbsp; <%= Exercise.Duration %></li>
								
								<button id="editDur">Edit</button>

								<dialog id="durDialog">
										<form class="column" action="/editExerciseDuration" method="post" >
											<section class="row">
												<label for="duration">Duration:</label>
												<input type="number" id="duration" name="duration">
												<input type="hidden" name="id" value="<%= Exercise.id %>">
											</section>
											
											<section>
												<input type="submit">
											</section>
										</form>
											<section>
												<button id="exitDurDialog">Exit</button>
											</section>
									</dialog>
								
								</section>
								
								<section class="row">
									<li> Date: &nbsp; <%= Exercise.Date %></li>
									
									<button id="editDate">Edit</button>

									<dialog id="dateDialog">
										<form class="column" action="/editExerciseDate" method="post" >
											<section class="row">
												<label for="date">Date:</label>
												<input type="date" id="date" name="date">
												<input type="hidden" name="id" value="<%= Exercise.id %>">
											</section>
											<section>
												<input type="submit">
											</section>
										</form>
										<section>
											<button id="exitDateDialog">Exit</button>
										</section>
									</dialog>
									

								</section>

								

							

							</ul>



						
					
					
			

			</main>


		</body>
	</html>